    @font-face {
        font-family: 'Inter Italic';
        src: url('../assets/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Inter';
        src: url('../assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
        font-weight: 400 700;
        font-style: italic;
    }

    :root {
        --font-family: 'Inter', sans-serif;
        --font-family-italic: 'Inter Italic', sans-serif;
        --primary-bg-color: #5DC3E9;
        --primary-font-color: white;
        --secondary-bg-color: #f9f9f9;
        --secondary-font-color: #333;
        --highlight-color: #007bbd;
        --error-color: red;
        --input-bg-color: #D9D9D9;
    }

    /* Utilisation des variables */
    * {
        margin: 0;
    }

    body {
        font-family: var(--font-family);
        background-color: var(--secondary-bg-color);
        color: var(--secondary-font-color);
    }

    header {
        height: 10vh;
        margin-bottom: 10vh;
        background-color: var(--primary-bg-color);
        color: var(--primary-font-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    nav a {
        text-decoration: none;
        color: white;
    }

    nav h1 {
        text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    }

    button.disconnect-btn {
        background-color: var(--error-color);
        color: var(--primary-font-color);
        border: none;
        padding: 15px 20px;
        border-radius: 10px;
    }

    button.disconnect-btn:hover {
        transform: scale(0.95);
        transition: transform 0.1s ease-in-out;
    }

    h2 {
        font-size:
            /*90 sur figma*/
            2.5em;
    }

    .article-title {
        font-size:
            /*50 sur figma*/
            2em;
    }

    h3 {
        font-size:
            /*25 sur figma*/
            1.5em;
    }

    p {
        font-size:
            /*20 sur figma*/
            1.25em;
    }

    /*Format mobile*/
    @media screen and (max-width: 768px) {
        h2 {
            font-size:
                /*50 sur figma*/
                2em;
        }

        p {
            font-size:
                /*15 sur figma*/
                1em;
        }
    }

    .main-auth {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .auth-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }


    .auth-container form {
        display: flex;
        flex-direction: column;
        gap: 3vh;
        width: 40%;
    }

    .auth-container input[type="email"] {
        background-color: var(--input-bg-color);
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        width: 98.5%;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .auth-container input[type="text"] {
        background-color: var(--input-bg-color);
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        width: 98.5%;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .auth-container input::placeholder {
        padding-left: 2px;
    }

    #show-password {
        cursor: pointer;
    }

    .show-hide-password {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--input-bg-color);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        width: 100%;
    }

    .show-hide-password input[type="password"] {
        width: 90%;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: var(--input-bg-color);
        padding-left: 5px;
        border: none;
        border-radius: 5px 0 0 5px;
    }

    .auth-container button[type="submit"] {
        border: 2px solid black;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        border-radius: 5px;
        font-weight: bold;
    }

    .error {
        text-align: center;
        font-size: 20px;
        color: var(--error-color);
        margin-bottom: 10vh;
        margin-top: 10vh;
    }

    .main-article {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .article-list {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }



    .main-specific-category-articles {
        min-height: 80vh;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .main-specific-category-articles h2 {
        margin-left: 2%;
    }


    .rubrique-article {
        margin-top: 5vh;
        text-align: left;
        padding-left: 3vw;
        padding-bottom: 2vh;
    }

    .container-article {
        border: 3px solid black;
        border-radius: 5px;
        margin: 0 3vw 3vw 3vw;
    }

    .content-article {
        display: flex;
        gap: 4vw;
        padding-top: 5vh;
        padding-bottom: 5vh;
        padding-left: 3vh;
        text-align: left;
        align-items: center;
        font-size: 1.5em;
    }

    .content-article-p {
        width: 60%;
    }

    .content-article img {
        height: 50vh;
        margin-right: 5vw;
    }

    .info-article {
        padding-left: 3vw;
        display: flex;
        gap: 5vw;
    }

    .comment {
        border: 3px solid black;
        border-radius: 5px;
        margin: 0 3vw 10vh 3vw;
        text-align: left;
    }

    .hidden {
        display: none;
    }

    .content-comment {
        font-size: 1.5em;
        padding: 3vw;
    }

    .post-comment {
        margin-bottom: 10vh;
    }

    .post-comment>p {
        margin-bottom: 5vh;
    }

    .post-comment textarea {
        width: 40vw;
        height: 20vh;
    }

    .post-comment button {
        width: 40vw;
        border: 2px solid black;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        font-weight: bold;
    }

    #voir-plus {
        width: 20vw;
        border: 2px solid black;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        font-weight: bold;
        margin-bottom: 10vh;
        margin-left: 39vw;
        cursor: pointer;
    }


    footer {
        height: 20vh;
    }

    footer p {
        text-align: right;
        color: #000;
    }

    footer img {
        margin-bottom: -5%;
    }

    .footer-sea {
        background-color: var(--primary-bg-color);
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: end;
        align-items: end;
    }

    footer img {
        height: 30vh;
    }

    footer p {
        text-align: center;
        color: var(--primary-font-color);
        margin-right: 10px;
    }

    /*****Accueil******/

    .index-flex-container {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
    }

    .container-1 {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .article-content {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .container-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        min-height: 50vh;
        height: auto;
        margin-top: 1.5%;
    }

    .filter-checkbox {
        border: 2px solid black;
        border-radius: 5px;
        padding: 20px;
    }

    .li-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .caterogy-title {
        font-size: 1.2em;
        color: var(--secondary-font-color);
        margin-bottom: 20px;
        text-decoration: underline;
    }

    .a-action {
        border: black 2px solid;
        background-color: transparent;
        color: black;
        padding: 5% 30px 5% 30px;
        border-radius: 5px;
        text-decoration: none;
    }

    .a-action:hover {
        background-color: var(--primary-bg-color);
        color: var(--primary-font-color);
        transition: transform 0.1s ease-in-out;
    }

    .a-category {
        color: black;
        text-decoration: none;
    }

    .a-category:hover {
        text-decoration: underline;
        color: var(--primary-bg-color);
    }

    .article-index {
        display: flex;
        border: 2px solid black;
        border-radius: 8px;
        padding: 15px;
        width: 90%;
        margin-bottom: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        height: 200px;
        justify-content: space-between;
        background-color: var(--secondary-bg-color);
    }

    .article-filter-by-category {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--secondary-bg-color);
        border: 2px solid black;
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        width: 90%;
    }

    .image-article {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .image-article img {
        width: 150px;
        height: auto;
        border-radius: 8px;
    }

    .content-article {
        margin-left: 15px;
        display: flex;
        flex-direction: row;
        align-items: start;
        width: 100%;
        justify-content: space-between;
    }

    .title-content-article {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    .content-article .title-content-article h3 {
        font-size: 1.3rem;
    }

    .content-article-bottom {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
    }

    .content-article-author {
        display: flex;
        align-items: end;
        flex-direction: column;
    }

    .button-show-more {
        background-color: var(--primary-bg-color);
        color: black;
        padding: 10px 50px;
        border-radius: 5px;
        text-decoration: none;
    }

    .button-show-more:hover {
        transform: scale(0.95);
        transition: transform 0.1s ease-in-out;
    }

    h3 {
        font-size: 1.2em;
        margin: 0 0 10px 0;
        color: var(--secondary-font-color);
    }

    p {
        font-size: 0.9em;
        color: #555;
        margin: 0 0 5px 0;
    }

    .a-categority {
        color: black;
        text-decoration: none;
        font-size: 0.9em;
    }

    .a-categority:hover {
        color: var(--primary-bg-color);
        text-decoration: underline;
    }

    ul.category-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 20%;
    }

    ul.category-list>li {
        margin-bottom: 10px;
    }

    .a-redirection {
        display: inline-block;
        padding: 8px 12px;
        background-color: var(--primary-bg-color);
        color: black;
        border: 2px solid black;
        text-decoration: none;
        border-radius: 5px;
        font-size: 0.9em;
        margin-top: 10px;
    }

    .a-redirection:hover {
        background-color: var(--highlight-color);
    }

    strong {
        font-weight: bold;
        color: var(--secondary-font-color);
    }

    /* Pour les téléphones */
    @media screen and (max-width: 768px) {
        .index-flex-container {
            flex-direction: column;
            width: 100%;
            align-items: center;
        }

        .container-1 {
            width: 100%;
            margin-top: 5%;
        }


        .filter-checkbox {
            width: 90%;
        }

        /*auth*/
        .auth-container form {
            width: 80%;
        }

        .footer-sea {
            align-items: center;
            justify-content: center;
        }

        .footer-sea p {
            text-align: center;
            margin-top: 6%;
        }

        footer img {
            margin-bottom: -12%;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }

    /* Form container */
    .form-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }

    /* Form title and description */
    .form-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .form-description {
        font-size: 1rem;
        color: #666;
        margin-bottom: 20px;
    }

    /* Form group styling */
    .form-group {
        margin-bottom: 15px;
    }

    /* Input fields */
    .form-input,
    .form-input-file,
    .form-textarea,
    .form-select {
        background-color: var(--input-bg-color);
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        width: 98.5%;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .form-input::placeholder,
    .form-textarea::placeholder {
        color: #aaa;
    }

    .form-input-file {
        background-color: var(--input-bg-color);
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        width: 98.5%;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .form-textarea {
        resize: vertical;
        min-height: 150px;
        resize: none;
    }

    .form-select {
        appearance: none;
        background-color: #f9f9f9;
        cursor: pointer;
    }

    .form-button {
        background-color: #fff;
        border: 1px solid #000;
        color: #000;
        padding: 12px;
        font-size: 1rem;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        width: 100%;
    }

    .form-button:hover {
        background-color: #000;
        color: #fff;
    }

    .form-label {
        font-weight: bold;
        display: block;
        text-align: left;
        margin-bottom: 5px;
        font-size: 0.9rem;
        color: #333;
    }

    .main-admin{
        min-height: 80vh;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ajoutCategorie{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        margin-bottom: 100px;
    }

    .actual-categories{
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: left;
        gap: 2vh;
        margin-bottom: 100px;
    }

    .category-element{
        border: 2px solid black;
        border-radius: 8px;
        padding: 10px;
        width: 90vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .category-btn{
         display: flex;
        }

    .category-btn button:nth-child(1){
        margin-right: 10px;
        background-color: #5DC3E9;
        color : var(--secondary-bg-color);
        padding: 15px 30px;
        border : none;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .category-btn button:nth-child(2){
        margin-right: 10px;
        background-color: var(--error-color);
        color : var(--secondary-bg-color);
        padding: 15px 30px;
        border : none;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .input-form-admin{
        width: 75%;
        background-color: var(--input-bg-color);
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .input-category-admin{
        width: 50vw;
        background-color: var(--input-bg-color);
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);   
    }