* {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    margin-bottom: 10vh;
    background-color: #5DC3E9;
    color: white;
    padding-left: 10vw;
    padding-right: 10vw;
}

h2 {
    font-size: 50px;
}


.auth-container {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin-bottom: 10vh;
}

.auth-container form {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.formPseudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    margin-bottom: 10vh;
}

.formPseudo form {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.errorPassword {
    text-align: center;
    font-size: 20px;
    color: red;
    margin-bottom: 10vh;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #5DC3E9;
    height: 40vh;
}

footer img {
    height: 30vh;
}
footer p {
    text-align: center;
}

